// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    text-align: center;
}
a {
    text-decoration: none;

    &:hover {
        color: grey;
        text-decoration: underline;
    }
}

table {
    margin: 0 auto;
    text-align: center;
    min-width: 500px;
}

button, submit {
    border: none;

    :hover {
        cursor: pointer;
    }
}
tr {
    width: 100%;
}
.options {
    text-align: right;
}

