// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: 'Cedarville Cursive', cursive;
    color: black;
    background-image: url("http://www.shabbyblogs.com/storage/new/ShabbyBlogsNatalie.jpg");
}

a {
    color: olive;
}